# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Savvyshell_Portfolio\linktree_clone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
